<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title>Casos de Exitos</title>
    <link rel="shortcut icon" href="../img/R.png">
</head>

<body>
    <form id="Casos">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <ul class="right hide-on-med-and-down">
                    <li><a href="../">{{principal.m1}}</a></li>
                    <li><a href="sobre-mi.html">{{principal.m2}}</a></li>
                    <li><a href="#">{{principal.m3}}</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown1'>Español</a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a v-on:click="IdiomaEspanol()" href="#!">Español</a></li>
                        <li><a v-on:click="IdiomaEnglish()" href="#!">English</a></li>
                    </ul>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../">{{principal.m1}}</a></li>
                    <li><a href="sobre-mi.html">{{principal.m2}}</a></li>
                    <li><a href="#">{{principal.m3}}</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown2'>Español</a></li>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a v-on:click="IdiomaEspanol()" href="#!">Español</a></li>
                        <li><a v-on:click="IdiomaEnglish()" href="#!">English</a></li>
                    </ul>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container" style="background: rgba(255, 255, 255, 0.2);">
            <div class="section no-pad-bot">
                <div class="container">
                    <h1 class="header center light-text text-lighten-2">{{principal.m5}}</h1>
                </div>
            </div>
            <div class="parallax"><img src="../img/dev.png" alt="devs"></div>
        </div>

        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="../img/Finappza.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{principal.p1}}</span>
                                <p>{{principal.p2}}</p>
                            </div>
                            <div class="card-action">
                                <a href="https://finappza-cb6d6.firebaseapp.com/">{{principal.p3}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="../img/FinappzaM.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{principal.p4}}</span>
                                <p>{{principal.p5}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <h5>{{principal.m4}}</h5>
                </div>
                <div class="row">
                    <div class="col l3 s12">
                        <a href="https://www.linkedin.com/in/roberto-carlos-arguera-752a58138/" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/linkedin.png" alt="linkedin">
                            Linkedin
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="https://github.com/ArgueraDev" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/github.png" alt="github">
                            Github
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="https://api.whatsapp.com/send?phone=+50378698340" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/whatsapp.png" alt="WhatsApp">
                            WhatsApp
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="mailto:robertoarguera@gmail.com" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/correo.png" alt="Gmail">
                            Gmail
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright"></div>
        </footer>
    </form>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="../js/casos.js"></script>
<script src="../js/init.js"></script>

</html>