<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title>Casos de Exitos</title>
    <link rel="shortcut icon" href="../img/R.png">
</head>

<body>
    <form id="Casos">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <ul class="right hide-on-med-and-down">
                    <li><a href="../">Inicio</a></li>
                    <li><a href="sobre-mi.html">Sobre Mí</a></li>
                    <li><a href="#">Casos de Éxito</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown1'>Español</a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">Español</a></li>
                        <li><a href="#!">English</a></li>
                    </ul>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../">Inicio</a></li>
                    <li><a href="sobre-mi.html">Sobre Mí</a></li>
                    <li><a href="#">Casos de Éxito</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown2'>Español</a></li>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="#!">Español</a></li>
                        <li><a href="#!">English</a></li>
                    </ul>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container" style="background: rgba(255, 255, 255, 0.2);">
            <div class="section no-pad-bot">
                <div class="container">
                    <h1 class="header center light-text text-lighten-2">Mis Proyectos</h1>
                </div>
            </div>
            <div class="parallax"><img src="../img/dev.png" alt="devs"></div>
        </div>


        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <img class="responsive-img" src="../img/yo.jpg" alt="roberto">
                        </div>
                    </div>
                    <div class="col s12 m8">
                        <div class="icon-block">
                            <h5 class="center">¡Hola!, Mi nombre es Roberto Carlos Arguera Campos, actualmente soy
                                estudiante en ingeniería en sistemas y redes informáticas de la facultad de
                                ciencia y tecnología en la Universidad Gerardo Barrios, Campus Usulután, El Salvador.
                            </h5>
                            <h2 class="center brown-text">Habilidades</h2>
                            <h5 class="center">Me gusta desempeñar el área de desarrollo de software, manejo de bases de
                                datos y redes, también me gusta el área de electrónica y matemáticas, aparte de eso
                                puedo
                                desempeñarme en el área de gestión, pero este no es mi fuerte; en mi vida cotidiana
                                cuento
                                con otras habilidades dentro del área de la música y actualmente estoy cursando clases
                                de
                                piano y practico otra variedad de instrumentos como lo es la guitarra, batería y
                                trompeta.
                            </h5>
                            <h2 class="center brown-text">Objetivo</h2>
                            <h5 class="center">Mi objetivo como profesional es ser de ayuda para la sociedad impartiendo
                                los
                                conocimientos aprendidos durante el desarrollo de mi vida y a la misma vez trabajar con
                                las
                                áreas con la que me gusta desempeñarme.
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <h5>{{principal.p6}}</h5>
                </div>
                <div class="row">
                    <div class="col l3 s12">
                        <a href="https://www.linkedin.com/in/roberto-carlos-arguera-752a58138/" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/linkedin.png" alt="linkedin">
                            Linkedin
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="https://github.com/ArgueraDev" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/github.png" alt="github">
                            Github
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright"></div>
        </footer>
    </form>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="../js/casos.js"></script>
<script src="../js/init.js"></script>

</html>