<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title>Sobre Mí</title>
    <link rel="shortcut icon" href="../img/R.png">
</head>

<body>
    <form id="SobreMi">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <ul class="right hide-on-med-and-down">
                    <li><a href="../">{{principal.m1}}</a></li>
                    <li><a href="#">{{principal.m2}}</a></li>
                    <li><a href="casos-de-exito.html">{{principal.m3}}</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown1'>{{principal.id}}</a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">Español</a></li>
                        <li><a href="#!">English</a></li>
                    </ul>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../">{{principal.m1}}</a></li>
                    <li><a href="#">{{principal.m2}}</a></li>
                    <li><a href="casos-de-exito.html">{{principal.m3}}</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown2'>{{principal.id}}</a></li>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="#!">Español</a></li>
                        <li><a href="#!">English</a></li>
                    </ul>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container" style="background: rgba(255, 255, 255, 0.2);">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center light-text text-lighten-2">{{principal.m2}}</h1>
                    <br><br>

                </div>
            </div>
            <div class="parallax"><img src="../img/dev.png" alt="devs"></div>
        </div>


        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <img class="responsive-img" src="../img/yo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col s12 m8">
                        <div class="icon-block">
                            <h4 class="center">Datos Personales</h4>
                            <h6><strong>Nombre:</strong> Roberto Carlos Arguera Campos</h6>
                            <h6><strong>Lugar y Fecha de Nacimiento:</strong> 02 de Noviembre de 1998, Usulután, El
                                Salvador
                            </h6>
                            <h6><strong>Teléfono:</strong> +503 7869-8340</h6>
                            <h6><strong>Correo:</strong> robertoarguera@gmail.com</h6>
                            <h4 class="center">Formación Académica</h4>
                            <h6>2018 - 202x <strong>Ing. En Sistemas y Redes Informáticas</strong> (Universidad Gerardo
                                Barrios - UGB)</h6>
                            <h6>2015 - 2017 <strong>Tec. Administrativo Contable</strong> (Instituto Nacional de El
                                Transito
                                - INDET)</h6>
                            <h4 class="center">Otros cursos</h4>
                            <h6>2020<strong> Curso de Musica</strong></h6>
                            <h6>2017<strong> Comunicaciones</strong> (Universidad Gerardo Barrios - UGB)</h6>
                            <h4 class="center">Experiencia Profesional</h4>
                            <h6>2017<strong> Servicio Social</strong> (Banco de Fomento Agropecuario - BFA)</h6>
                            <h4 class="center">Informática </h4>
                            <h6>Conocimientos en...</h6>
                            <h6><strong>Mantenimiento de Equipos Informáticos</strong></h6>
                            <h6><strong>Lenguajes de Programación</strong> (vb.net, C#, Java, JavaScript, PHP, XML,
                                HTML)
                            </h6>
                            <h6><strong>Manjeo de Bases de Datos</strong> (MySQL, Oracle, Postgre, MariaDB, SQLite)</h6>
                            <h6><strong>Manejo de Microsoft Office</strong> (Word, Excel, Powerpoint)</h6>
                            <h4 class="center">Otros Datos Interesantes</h4>
                            <h6><strong>Conocimientos musicales</strong> (Guitarra, Bateria, Piano, Trompeta)</h6>
                            <h6><strong>Conocimientos en Mantenimiento de instrumentos y equipos musicales</strong></h6>
                            <h6><strong>Conocimientos en Manejo de Equipos de Sonido</strong></h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <h5>{{principal.p6}}</h5>
                </div>
                <div class="row">
                    <div class="col l3 s12">
                        <a href="https://www.linkedin.com/in/roberto-carlos-arguera-752a58138/" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/linkedin.png" alt="linkedin">
                            Linkedin
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="https://github.com/ArgueraDev" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/github.png" alt="github">
                            Github
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright"></div>
        </footer>
    </form>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="../js/sobremi.js"></script>
<script src="../js/init.js"></script>

</html>