<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title>Sobre Mí</title>
    <link rel="shortcut icon" href="../img/R.png">
</head>

<body>
    <form id="SobreMi">
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <ul class="right hide-on-med-and-down">
                    <li><a href="../">{{principal.m1}}</a></li>
                    <li><a href="#">{{principal.m2}}</a></li>
                    <li><a href="casos-de-exito.html">{{principal.m3}}</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown1'>{{principal.id}}</a></li>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a v-on:click="IdiomaEspanol()" href="#!">Español</a></li>
                        <li><a v-on:click="IdiomaEnglish()" href="#!">English</a></li>
                    </ul>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a href="../">{{principal.m1}}</a></li>
                    <li><a href="#">{{principal.m2}}</a></li>
                    <li><a href="casos-de-exito.html">{{principal.m3}}</a></li>
                    <li><a class='dropdown-trigger btn' href='' data-target='dropdown2'>{{principal.id}}</a></li>
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a v-on:click="IdiomaEspanol()" href="#!">Español</a></li>
                        <li><a v-on:click="IdiomaEnglish()" href="#!">English</a></li>
                    </ul>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container" style="background: rgba(255, 255, 255, 0.2);">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center light-text text-lighten-2">{{principal.m2}}</h1>
                    <br><br>

                </div>
            </div>
            <div class="parallax"><img src="../img/dev.png" alt="devs"></div>
        </div>


        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <img class="responsive-img" src="../img/yo.jpg" alt="">
                        </div>
                    </div>
                    <div class="col s12 m8">
                        <div class="icon-block">
                            <h4 class="center">{{principal.p1}}</h4>
                            <h6><strong>{{principal.p2}}</strong> Roberto Carlos Arguera Campos</h6>
                            <h6><strong>{{principal.p3}}</strong> {{principal.p31}}</h6>
                            <h6><strong>{{principal.p4}}</strong> +503 7869-8340</h6>
                            <h6><strong>{{principal.p5}}</strong> robertoarguera@gmail.com</h6>
                            <h4 class="center">{{principal.p6}}</h4>
                            <h6>2018 hasta la Fecha. <strong>{{principal.p7}}</strong>
                                (Universidad Gerardo Barrios)</h6>
                            <h6>2015 - 2017 <strong>{{principal.p8}}</strong> (Instituto Nacional de El
                                Transito)</h6>
                            <h4 class="center">{{principal.p9}}</h4>
                            <h6>2017<strong> {{principal.p10}}</strong> (Banco de Fomento Agropecuario)</h6>
                            <h4 class="center">{{principal.p11}}</h4>
                            <h6>2017<strong> {{principal.p12}}</strong>
                                (Universidad Gerardo Barrios)</h6>
                            <h6>2019<strong> {{principal.p13}} RECITECNO</strong> (Universidad Gerardo Barrios)
                            </h6>
                            <h6>2019<strong> {{principal.p14}} FLIA {{principal.p15}</strong> (Universidad Gerardo Barrios)</h6>
                            <h6>2019<strong> {{principal.p16}} CONINFO</strong> (ASPROC)</h6>
                            <h6><strong>{{principal.p17}}</strong> {{principal.p171}}</h6>
                            <h6><strong>{{principal.p18}}</strong></h6>
                            <h4 class="center">{{principal.p19}}</h4>
                            <h6>{{principal.p20}}</h6>
                            <h6><strong>{{principal.p21}}</strong></h6>
                            <h6><strong>{{principal.p22}}</strong> (vb.net, C#, Java, JavaScript, PHP)
                            </h6>
                            <h6><strong>{{principal.p23}}</strong> (MySQL, SQL Server, Oracle, PostgreSQL,
                                MariaDB, SQLite, MongoDB, CouchDB, Cassandra)</h6>
                            <h6><strong>{{principal.p24}}</strong> (Word, Excel, Powerpoint)</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <h5>{{principal.m4}}</h5>
                </div>
                <div class="row">
                    <div class="col l3 s12">
                        <a href="https://www.linkedin.com/in/roberto-carlos-arguera-752a58138/" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/linkedin.png" alt="linkedin">
                            Linkedin
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="https://github.com/ArgueraDev" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/github.png" alt="github">
                            Github
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="https://api.whatsapp.com/send?phone=+50378698340" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/WhatsApp.png" alt="WhatsApp">
                            WhatsApp
                        </a>
                    </div>
                    <div class="col l3 s12">
                        <a href="mailto:robertoarguera@gmail.com" class="white-text">
                            <img class="responsive-img" style="height: 40px;" src="../img/correo.png" alt="Gmail">
                            Gmail
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright"></div>
        </footer>
    </form>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="../js/sobremi.js"></script>
<script src="../js/init.js"></script>

</html>